<div class="card-container">
    <div class="card">
        <i class="fa fa-times close-icon" (click)="goBackToUserComponent()"></i>
      <h1>Add User</h1>
      <form (submit)="onSubmit()" class="landscape-form">
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
          </div>
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input type="text" class="form-control" id="jobTitle" [(ngModel)]="user.jobTitle" name="jobTitle" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName" required>
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <input type="text" class="form-control" id="role" [(ngModel)]="user.role" name="role" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" [(ngModel)]="user.country" name="country" required>
          </div>
          <div class="form-group">
            <label for="institution">Institution</label>
            <input type="text" class="form-control" id="institution" [(ngModel)]="user.institution" name="institution" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="reasonForAccess">Reason for Access</label>
            <textarea class="form-control" id="reasonForAccess" [(ngModel)]="user.reasonForAccess" name="reasonForAccess" required></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
          </div>
          <div class="form-group">
            <label for="affiliation">Affiliation</label>
            <input type="text" class="form-control" id="affiliation" [(ngModel)]="user.affiliation" name="affiliation" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" [(ngModel)]="user.status" name="status" required>
              <option value="INACTIVE">INACTIVE</option>
              <option value="ACTIVE">ACTIVE</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add User</button>
      </form>
    </div>
  </div>