/* Apply styles to the main container */
.app-container {
    display: flex;
  }
  
  
  
  /* Apply styles to the content area */
  h1 {
    margin: 20px; /* Adjust margin as needed */
    font-size: 24px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
  }